/* Ajustes para inputs de data em mobile */
.mobile-date-input {
  font-size: 16px;
  height: 45px;
  padding: 12px 15px;
}

.mobile-date-input:focus {
  position: relative;
  z-index: 2;
}

/* Remove o ícone de calendário no Chrome */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}